.Gerenciamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.fixer{
    width: 100%;
    background-color: var(--cor-terciaria);
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 90px var(--cor-sombra);
}

.fixer > .Header{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
    position: sticky;
    top: 0;
    margin: 24px 0px 0px 0px;
}

.fixer > .Header > h1{
    width: 38%;
    color: var(--cor-texto_3);
    font-size: 40px;
    font-weight: bold;
    font-family: 'FlameRegular', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 17px 0px 0px;
    font-weight:lighter;
}

.Perfil_Gerente{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.Perfil_Gerente h2{
    color: var(--cor-texto_3);
    font-size: 18px;
    font-family: 'FlameSans', sans-serif;
}

.Perfil_Gerente img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: var(--cor-texto_3) 2px solid;
    border-radius: 50%;
    margin: 0px 0px 0px 15px;
}

.Colaboradores{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor-terciaria);
    color: black;
    margin: 48px 0px 48px 0px;
}

.Card_Colaboradores{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    column-gap: 32px;
    margin: 10px 0px 0px 0px;
}

.Card_Colaboradores li {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 25px #00000028;
}

.Foto_colaborador img{
    box-shadow: 0px 0px 25px #000000a8;
    border-radius: 5px;
    height: 110px;
    margin: 8px 8px 0px 8px;
}

.Perfil_Colaborador{
    display: flex;
    flex-direction: column;
}

.Nome_Colaborador{
    color: var(--cor-texto_3);
    font-size: 22px;
    font-family: 'FlameRegular', sans-serif;
    margin: -5px 0px 8px 8px;
    font-weight:lighter;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0px 4px 8px;
    color: var(--cor-texto_4);
    font-family: 'FlameSans', sans-serif;
}

.infos img{
    width: 20px;
    margin-right: 10px;
    color: var(--cor-primaria);
}

.Mais_Infos {
    position: absolute;
    top: 10px;         
    right: 10px;       
    margin: 0;         
}

.Mais_Infos button {
    width: 40px;
    height: 40px;
    font-size: 30px; 
    color: var(--cor-texto_3);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.Mais_Infos button:hover {
    transform: perspective(1px) scale(1.4);
    transition: 0.5s;
}


@media screen and (max-width: 1024px){
    .Card_Colaboradores{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px){

    .fixer > .Header{
        width: 400px;
    }

    .fixer > .Header > h1{
       display: none;
    }

    .Perfil_Gerente{
        justify-content: flex-start;
        margin: -30px 0px 0px 0px;
    }

    .Card_Colaboradores{
        grid-template-columns: repeat(1, 1fr);
        width: 210px;
        
    }

    .Card_Colaboradores li{
        flex-direction: column;
    }

    .Foto_colaborador img{
        height: 140px;
        margin: 15px 0px 15px 0px;
        
    }
}
