.Painel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden; 
    background-color: var(--cor-terciaria);
    gap: 57px;
}

.Lista_Colaboradores {
    width: 35%;
    max-height: 93.7%;
    overflow-y: auto; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--cor-sombra);
}

.Lista_Colaboradores h1 {
    color: var(--cor-texto_3);
    font-family: 'FlameRegular', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 10; 
    padding: 0px 0px 0px 20px; 
    width: 100%; 
}

.Titulo_Painel {
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
    position: sticky; 
    top: 0;
    z-index: 10; 
    background-color: #ffffff; 
    padding: 12px 0; 
    width: 100%; 
    box-shadow: 0px 0px 10px 0px var(--cor-sombra); 
}

.Card_Colaboradores{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    column-gap: 32px;
    margin: 10px 0px 0px 0px;
}

.Card_Colaboradores li {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 25px #00000028;
}

.infos{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px 0px 10px;
}

.Barra_Progresso{
    width: 300px;
    height: 20px;
    background-color: #fff;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
}

.Barra_Progresso div{
    height: 100%;
    background-color: var(--cor-primaria);
    border-radius: 5px;
}


.Dashboard {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Desempenho_Colaborador{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.Grafico{
    width: 100%;
    height: 46%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px var(--cor-sombra);
}

.Grafico h1{
    position: absolute;
    color: var(--cor-texto_3);
    font-family: 'FlameRegular', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    position: absolute;
    top: -2px;
    left: 20px;
}

.Grafico h2{
    font-size: 20px;
    font-family: 'FlameSans', sans-serif;
}

.Grafico_Pizza{
    margin: 50px 0px 0px 0px;
    height: 50%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 100%;
}

.legenda{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.legenda h2{
    font-family: 'FlameSans', sans-serif;
    font-weight: lighter;
    color: var(--cor-texto_4);
    font-size: 15px;
}

.legenda p{
    font-family: 'FlameRegular', sans-serif;
    font-weight: lighter;
    color: var(--cor-texto_3);
    font-size: 20px;
    margin: -15px 0px 0px 26px;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}   

.referencia{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.desempenho_abaixo > .texto > .referencia{
    background-color: #D72300;
}

.desempenho_medio > .texto > .referencia{
    background-color: #F58538;
}

.desempenho_acima > .texto > .referencia{
    background-color: #0085FF;
}

.Rank_Colaboradores{
    width: 100%;
    height: 46%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px var(--cor-sombra);
}

.Rank_Colaboradores h1{
    position: absolute;
    color: var(--cor-texto_3);
    font-family: 'FlameRegular', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    position: absolute;
    top: -2px;
    left: 20px;
}

.destaques, .conquistas, .periodo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 10px;
    margin: 10px 45px 0px 45px;    
    color: var(--cor-texto_4);
}

.destaques{
    margin: 10px 45px 0px -10px;
}

.destaques h2, .conquistas h2, .periodo h2{
    font-family: 'FlameSans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}

.destaques p, .conquistas p, .periodo p{
    color: var(--cor-texto_3);
    font-family: 'FlameRegular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 0px 0px 0px 4px;
}

.destaques p{
    margin: 0px 0px 0px 0px;
}