


  /*
  form {
    padding-top: 6%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;  
  }
  
  form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: var(--gray);
    border: 2px solid var(--orange);
    color: var(--orange);
    height: 84px;
    width: 84px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.5s;
  }
  
  form > button:hover {
    background: var(--orange);
    color: var(--dark-gray);
    transform: rotate(180deg);
    transition: 0.5s;
  }
  
  .AddTask input {
    display: flex;
    flex-direction: column;
    width: 654px;
    height: 32px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    margin-top: 10px;
    color: var(--beige);
  }
  
  .AddTask select {
    display: flex;
    flex-direction: column;
    width: 654px;
    height: 32px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    margin-top: 10px;
    color: var(--beige);
    background: var(--gray);
  }
  
  srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  container {
    width: min(100%, 736px);
    padding: 0 0.5rem;
    margin: 0 auto;
  }
  
  addTodoForm {
    display: flex;
    gap: 0.5rem;
    margin-top: 4.6875rem;
  }
  
  inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    flex: 1;
  }
  
  input {
    background: var(--gray);
    flex: 1;
    border-radius: 0.5rem;
    border: 2px solid var(--orange);
    min-height: 2rem;
    padding-left: 1rem;
  }
  
  input::placeholder {
    color: var(--beige);
    opacity: 0.4;
  }
  
  button {
    background: var(--dark-gray);
    border: 2px solid var(--orange);
    cursor: pointer;
    color: var(--orange);
    border-radius: 0.5rem;
    transition: background-color 200ms;
  }
  
  button.normal {
    padding: 1.5rem;
  }
  
  button.small {
    padding: 0.5rem;
  }
  
  button:hover {
    background: var(--gray);
  }
  
  .Lista_de_Tarefas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .Tarefas {
    padding-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;  
    width: 101%;
  }
  
  .todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--dark-orange);
    border-radius: 0.5rem;
    margin-bottom: 20px;
    width: 50%;
    padding: 1rem;
    cursor: pointer;
  }
  
  .todoItem h1:hover{
    color: var(--orange);
  }
  
  .todoItem button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: var(--dark-gray);
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 40px; 
    transition: 0.5s;
  }
  
  .todoItem button:hover {
    background: var(--orange);
    color: var(--dark-gray);
    transform: rotate(180deg);
    transition: 0.5s;
    font-size: 25px;
  }
  
  .todoItem[data-is-done=true] {
    opacity: 0.3;
    text-decoration: line-through;
  }
  
  .infos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-top: 5%;
  }
  
  .extra {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .Search input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 280px;
    height: 32px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    color: var(--beige);
  }
  
  .extra select{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100px;
    height: 38px;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    margin-top: 10px;
    color: var(--beige);
    background: var(--gray);
    justify-content: flex-start;
  }
  
  .cont{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 110px;
  }
  
  .cont p{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 120px;
    height: 32px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px; 
    color: var(--beige);
    text-align: center;
  }
  
  .noTasks {
    color: var(--white);
    font-size: 1.5rem;
    position: relative;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 6%;
  }
  
  .noTasks::before, .noTasks::after {
    content: '';
    height: 2px;
    background-color: var(--orange);
    width: 64px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .rotate {
    transform: rotate(45deg);
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --dark-gray: #1b1a17;
    --gray: #1f1e1b;
    --dark-orange: #a35709;
    --orange: #ff8303;
    --beige: #f0e3ca;
    --white: #ffffff;
  }
  
  html {
    background-color: var(--dark-gray);
    color: var(--beige);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  @media only screen and (max-width: 1280px) {
    .todoItem {
      width: 73.2%;
    }
  
    .infos {
      width: 74.3%;
      margin-left: 7px;
    }
  }
  
  @media only screen and (min-width: 1439px) {
    .infos{
      margin-right: 170px;
    }
  
    .todoItem{
      width: 64.5%;
  
    }
  }
  
  @media only screen and (max-width: 768px) {
    body {
      width: auto;
      display: flex;
    }
  
    .AddTask {
      width: 100%;
    }
  
    .AddTask input {
      width: 100%;
    }
  
    .Tarefas {
      width: auto;
      display: flex;
    }
  
    .todoStats {
      width: 100%;
    }
  
    .todoList input {
      width: 100%;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    body {
      width: auto;
      display: flex;
    }
  
    .AddTask {
      width: 100%;
    }
  
    .AddTask input {
      width: 100%;
    }
  
    .Tarefas {
      margin-top: 25px;
    }
  
    .todoItem {
      width: 80%;
    }
  
    .todoItem h1{
      font-size: 20px;
    }
  
    .todoItem p{
      font-size: 12px;
    }
  
    .todoItem button {
      margin-left: 30px;
      margin-right: 1px;
      height: 30px;
      width: 30px;
      font-size: 20px;
    }
  
    .infos {
      width: 80%;
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: -30px;
    }
  
    .extra{
      flex-direction: column;
      margin-right: 90px;
    }
  
    .Search input{
      width: 136%;
    }
  
    .cont{
      margin-left: 125px;
      margin-top: -47.2px;
    }
  
    .cont p{
      font-size: 12px;
      width: 160px;
    }
  
    .noTasks{
      font-size: 1.2rem;
      margin-top: 25%;
    }
  }*/